#contact-page {
  display: flex;
  opacity: 0;
  transition: 1s ease-in;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .contact-title {
    border: solid 1px white;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
  }
  .contact-title:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}

#link-box {
  background-color: $black;
  border-radius: 15px;
  margin: 10px;
  padding: 2px;
  transition: 0.5s;
  text-align: center;
  font-size: 13px;
}

#link-box:hover {
  transition: 0.5s;

  transform: scale(1.1);
}

#contact-container {
  border-radius: 15px;
  width: 70vw;
  padding: 10px;
  background: linear-gradient($second-purple, $first-purple);
}

@media only screen and (min-width: 1200px) {
  #contact-page {
    margin-top: 300px;
    margin-bottom: 300px;
  }
}
