#skills-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.skills-title {
  transition: 0.5s;
  padding: 10px;
  border: solid 1px white;
  border-radius: 15px;
}
.skills-title:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#skills-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  #skills-array {
    h4 {
      background-color: $black;
      padding: 10px;
      // height: 2vh;
      border-radius: 15px;
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $first-purple;
    border-radius: 15px;
    width: 25vw;
    height: 40vh;
    padding: 5px;
    margin: 8px;
  }
}

#etiquette {
  transition: 0.4s;
  background-color: #e5d4f0;
  border-radius: 15px;
  color: black;
  text-align: center;
  padding: 3.3px;
  margin: 9.5px;
}

#etiquette:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

@media only screen and(min-width:720px) {
  #etiquette {
    width: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  #skills-page {
    margin-top: 300px;
    margin-bottom: 300px;
  }
}
